.table {
    margin-top: 30px;
}

img {
    max-width: 30px;
    height: auto;
}

th {
    font-variant-caps: all-small-caps;
}

#name {
    text-align: left;
}

#price,
#volume {
    text-align: right;
    align-content: space-around;
}
