.App {
    text-align: center;
    padding: 20px;
}

.App-header {
    padding-left: 40px;
    background-color: #282c34;
    font-variant-caps: small-caps;
    min-height: 8vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: calc(15px + 2vmin);
    color: #c9e3e8;
}
